.headerProfile {
	background-color: #333333;
}

.headerLogOutButton {
	color: white !important;
}

.imageCenterRoundedBox {
	height: 120px;
}

.imageCenterRounded {
	height: 250px;
	width: 250px;
	background: white no-repeat center;
	background-size: contain;
}

@media only screen and (min-width: 576px) {
	.imageCenterRounded {
		margin-top: -140px;
	}

	.imageCenterRoundedBox {
		height: 20px;
	}
}