* {
    width: 100%;
}

.centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput {
    margin-top: 1.5vh;
    border-radius: 0.8rem !important;
}

button.sendButton {
    width: 60%;
    max-height: 5vh;
    color: white;
    border-radius: 18px;    
    padding-top: 0;
}

#linkForgetPassword {
    color: white;
    font-size: 0.7rem;
    margin-top: 1vh;
}