  .landing {
      height: 100vh;
      background-image: linear-gradient(to right bottom, rgba(255, 217, 0, 0.1), rgba(255, 255, 255, 0.2)), url("../../images/background1.jpg");
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .landingLoginBox {
      height: 80vh;
  }

  .landingLogin {
      padding: 1.2rem;
      border-radius: 12%;
      background-color: rgba(20, 100, 170, 0.8);
      background-image: linear-gradient(rgba(20, 100, 170, 0.5), rgba(78, 182, 246, 0.5));
  }

  .landingImage {
      height: 20vh;
  }

  .landingImageBox {
      height: 60%;
  }

  .landingSquareLine {
      border-radius: 12%;
      border: 2px solid white;
  }

  @media screen and (min-width: 1400px) {
      .landingChartWidth {
          max-width: 30% !important;
      }
  }