.landing {
    position: absolute;    
    min-height: 100vh;
    background-image: url("../../images/background.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#landingFirstRow {
    flex: 1;
}

.landingMain {    
    padding: 12px;
    max-width: 90%;    
    border-radius: 12%;
    background-color: rgba(20, 100, 170, 0.8);
    background-image: linear-gradient(rgba(20, 100, 170, 0.5), rgba(78, 182, 246, 0.5));
}

.landingBorder {
    border: 2px solid white;
    border-radius: 12%;
    color: white;
    padding: 20px 10px;
}

#landingLogoRow {
    position: relative;
}

.imgLogoLanding {    
    padding: 0 !important;
    margin-bottom: 1vh;    
}

@media (min-width: 1200px){
    .landingMain {
        max-width: 28% !important;
    }
}

@media (min-width: 460px) and (max-width: 576px){
    .landingMain {
        max-width: 60% !important;
    }
}