#trackAssigmentChallengeName{
    font-weight: bolder;
}
#trackAssigmentCompanyDescription{
    font-style:italic ;
    line-height: 1.2rem;
    font-size: 1.1rem;
}
/*Logo and Title of Companies*/

.trackAssigmentCompanyTitle {
    font-weight: 700;
}

.trackAssignmentImageCenterRounded {
	height: 90px;
	width: 90px;
	background: white no-repeat center;
	background-size: contain;
}

.trackAssignmentImage {
    height: 74%;
    width: auto;
    margin: 0 auto;
}

/* Description */
.trackAssigmentSubTitle {
    font-weight: 600;
    font-size: 1rem;
}

/* Card */

.trackAssignmentCard {
    background-color: #f0f0f0 !important;
    border-radius: 1rem !important;
}
.trackAssigmentText{
    white-space: pre-wrap;
    font-size: 0.8rem;
    line-height: 0.95rem;
    padding-left: 5px;
}

.trackAssignmentTextarea{
    border-radius: 10px !important;
    background-color: #e8e8e8!important;
    resize: none;
}

.trackAssignmentButton{
    border-radius: 20px !important;
    height: 28px !important;
    background-color: #fa995d !important;
    border: none !important;

}