.searchChallengeText {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #e8e8e8 !important;
  border-color: #e8e8e8 !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}


.searchChallengeText:focus {
  border-color: #e8e8e8 !important;
}


.iconButton {
  width: 30px;
  background: url('../../images/find.png') no-repeat left;
  background-position-x: 10px;
  background-color: #e8e8e8 !important;
  border-color: #e8e8e8 !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}


.iconButton:focus {
  box-shadow: none !important;
}


.camaraLogo {
  height: 38px;
  width: auto;
}

/* Links de navegación */

.navLink {
  width: 215px;
  opacity: 0.5;
}

.circle.red:after {
  content: " \25CF";
  font-size: 22px;
  color: #d89393;
}

.circle.blue:after {
  content: " \25CF";
  font-size: 22px;
  color: #6ae18e;
}

.circle.green:after {
  content: " \25CF";
  font-size: 22px;
  color: #dce249;
}

.plusCreateChallenge {
  height: 22px;
  width: 26px;
}

/* Solo se activan cuando el elemento tiene active y linkSelected (se hace click)*/

.circle.active {
  opacity: unset;
}

.linkCreateChallenge {
  width: 101px !important;
}

/* Paginación */

.page-item.boxNumber.disabled .page-link.boxLink {
  color: black !important;
  background-color: white !important;
  border-color: transparent;
}

.page-link.boxLink {
  color: black !important;
  background-color: white !important;
  border: none !important;
}

.page-link.boxLink:hover, .page-link.boxLink:focus, .page-item.boxNumber.active .page-link.boxLink {
  background-color: #313333 !important;
  color: white !important;
  box-shadow: none !important;
}

/* Elementos de carga */

.svgContainer {
  height: auto !important;
}