/* #allChallengesComponent {
  width: calc(100% - 25rem);
} */

/* Links de navegación */

/* .allChallengesNavLink {
  width: 215px;
  opacity: 0.5;
}

.allChallengesCircle.allChallengesRed:after {
  content: " \25CF";
  font-size: 22px;
  color: #d89393;
}

.allChallengesCircle.allChallengesBlue:after {
  content: " \25CF";
  font-size: 22px;
  color: #6ae18e;
}

.allChallengesCircle.allChallengesGreen:after {
  content: " \25CF";
  font-size: 22px;
  color: #dce249;
}

.allChallengesPlusCreateChallenge {
  height: 22px;
  width: 26px;
} */

/* Solo se activan cuando el elemento tiene active y linkSelected (se hace click)*/

/* .allChallengesCircle.active {
  opacity: unset;
}

.allChallengesLinkCreateChallenge {
  width: 101px !important;
} */

/* Elementos de carga */

/* .allChallengesSvgContainer {
  height: auto !important;
} */