.challengeCardImageBox {
   height: 120px;
   width: 120px;
   background: white no-repeat center;
   background-size: contain;
}

.challengeCardImage {
   height: 74%;
   width: auto;
   margin: 0 auto;
}

.challengeCardCompanyDescription {
   text-align: justify;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   font-style: italic;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
}

.challengeCardNewSendedColor {
   background-color: #cbf2d7 !important;
}

.challengeCardNewRejectedColor {
   background-color: #ecc9c9 !important;
}

.challengeCardNewAssignedColor {
   background-color: #bbebfc !important;
}

.challengeCardNewFinishedColor {
   background-color: #fdffd6 !important;
}

.challengeCardCrossLinkBox {
   margin-bottom: -20px;
}

.challengeCardcrossLink:hover {
   color: red !important;
}

@media screen and (min-width: 992px) {
   .card-body.challengeCardRightPadding {
      padding-right: 50px;
   }
}