.challengeDetailsCardBox {
   width: 100% !important;
   min-height: 50vh;
}

.challengeDetailsName {
   text-align: left !important;
   background-color: inherit;
}

.challengeDetailsCompanyDescription {
   text-align: start;
   font-size: 1em;
   text-align: start;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
}

.challengeDetailsApply {
   width: auto;
   color: #4976f2 !important;
}

.challengeDetailsCategories {
   font-size: 13px;
}

.challengeDetailsHashTags {
   text-align: left;
}