/* title  */

.createNewChallengeBox {
   height: 50px;
   margin: 20px 0;
}

.plusSign {
   height: 100%;
   width: auto;
}

.newChallengeText {
   width: auto;
   margin-left: 20px;
   color: #a5a5a5;
}

/* form  */

.formCentering{
   margin: 40px 0 5px 0;
}

.challengeName{
   background-color: #e8e8e8 !important;
}

.textArea {
   resize: none;
   background-color: #e8e8e8 !important;
}

.selectCategoryCompany {
   padding: 5px;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #e8e8e8;
   background-position-x: 195px;
   width: 220px !important;
   background-color: #e8e8e8 !important;
}

.dateWidth {
   width: 230px !important;
   background-color: #e8e8e8 !important;
}

/* removable list */

.listRemovable {
   list-style-type: none;
   min-height: 60px;
}

.createButton{
   width: 120px;
   height: 35px;
   padding-top: 0 !important;
   border-radius: 18px !important;
   background-color: #fa995d !important;
   color: white !important;
   font-size: 18px !important;
}