.selectProposalCardProp {
    background-color: #dddddd !important;
}


.formButtonProposal {
    margin-top: 1vh;
    border-radius: 20px !important;
    color: white !important;
    background-color: #75de95 !important;
    border-color: #75de95 !important;
  }

.input-group .input-group-text {
    background-color: #dddddd !important;
    border-color: #dddddd !important;
}

.input-group-text {
    width: 5rem;
}

.radioText {
    font-weight: 700;
    font-size: 1.2rem;
}

.proposalsAllyHoursEdit {
    width: 40% !important;    
}