.surveyViewTitle{
    font-weight: 700;
    color: #a5a5a5;

}
.card.surveysViewCard{
    background-color: #f0f0f0;
    border-radius: 25px;
    width: auto;
}
.surveyViewText{
    font-style:italic;
}

.surveyViewRadio{
    width: 30%;
    font-weight: 600;

}
.surveySubmitBotton{
    width: auto;
    background-color: forestgreen;
}