.assignedProposalDetailsHeaders {
   font-weight: 550;
}

.assignedProposalDetailsCompanyDescription {
   font-size: 18px;
}

.assignedProposalDetailsLabelBox {
   width: auto;
   margin: 0;
   padding: 3px 15px;
   border-radius: 20px 20px 0 0;
   background-color: #128AB3;
   color: white;
}

.assignedProposalDetailsNewNote {
   background-color: #80c3c6;
}

.btn#assignedProposalDetailsAggregateNoteBtn {
   border-radius: 20px;
   width: auto;
   background-color: #80c3c6;
   color: white;
   border-color: #80c3c6;
   padding: 3px 23px;
   box-shadow: none;
}

.btn#assignedProposalDetailsAggregateNoteBtn:hover, .btn#assignedProposalDetailsAggregateNoteBtn:active {
   background-color: #3abbc2;
   border-color: #3abbc2;
}

textarea.assignedProposalDetailsLabelTextArea {
   resize: none;
   color: #000000cc;
   border-radius: 0 20px 20px 20px;
}

textarea.assignedProposalDetailsLabelTextArea:focus {
   border-color: white !important;
}

.assignedProposalDetailsLabelTextArea.form-control:disabled {
   background-color: #128ab33d;
}

.btn.assignedProposalDetailsFinishBtn#assignedProposalDetailsAggregateNoteBtn  {
   background-color: #fa995d;
   border-color: #fa995d;
   
}

/* .btn.assignedProposalDetailsFinishBtn#assignedProposalDetailsAggregateNoteBtn:hover, .btn.assignedProposalDetailsFinishBtn#assignedProposalDetailsAggregateNoteBtn:active, .btn.assignedProposalDetailsFinishBtn#assignedProposalDetailsAggregateNoteBtn:focus {
   background-color: #fa995d;
   border-color: #fa995d;
   box-shadow: #fa995d;
} */
