.proposalFormCardBox {
   width: 100% !important;
   min-height: 50vh;
}

.proposalFormHeaderText {
   font-size: 14px;
}

.proposalFormInputLabels {
   font-weight: 600;
}

.proposalFormTextArea {
   resize: none;
   background-color: #e8e8e8 !important;
}

.proposalFormNumberSelector {
   border: none;
}

.proposalFormGreen {
   color: #72d32b;
   font-weight: 600;
}

.proposalFormOrange {
   color: #eca761;
   font-weight: 600;
}