.sideBarAdminLateralBar {
   max-width: 20%;
   background-color: #313333;
   min-height: 100vh;
}

.sideBarAdminLogoBox {
   height: 200px;
   width: 100%;
   padding: 10px 0;
}

.sideBarAdminLogo {
   height: 80%;
   width: auto;
}

.sideBarAdminText {
   height: 60px;
   margin-bottom: 20px;
}

.sideBarAdminText h3 {
   color: white;
   font-weight: bold;
}

.sideBarAdminLinkBox {
   height: 80px;
}

.sideBarAdminLinkBox:hover {
   background-color: #333333;
}

a .sideBarAdminLinkBox p {
   color: white;
   margin: 0;
}

a .sideBarAdminLinkBox:hover {
   background-color: #272626 !important;
}

@media only screen and (max-width: 576px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1050px) {
   .sideBarAdminLateralBar {
      max-width: 200px !important;
      visibility: collapse;
   }
}

@media only screen and (max-width: 1200px) {
   .sideBarAdminText h3 {
      font-size: 25px !important;
   }
}