.cardBox {
    border-radius: 20px !important;
    box-shadow: 0px 5px 10px gray;
    background-color: #f0f0f0 !important;
    height: 22rem;
}

.cardImage {
    width: 70px !important;
    height: 70px;
}

.cardTitle {    
    font-weight: 500;
    font-size: .94rem;
}

.cardText {
    font-size: .8rem;
}