.cardBox {
    border-radius: 20px !important;
    box-shadow: 0px 5px 10px gray;
    background-color: #f0f0f0 !important;
}

.cardImage {
    width: 70px !important;
    height: 70px;
}

.cardResourceName {
    text-align: center;
    font-size: 1.1rem !important;
    font-weight: 500;
}

.cardTitle {    
    font-weight: 500;
}

.cardText {
    font-size: .9rem;    
}

.cardTextArea {
    resize: none !important;
}