.headerProfile {
  background-color: #333333;
}

.headerLogOutButton {
  color: white !important;
}

.imageCenterRounded {
	height: 200px;
	width: 200px;
	background: white url('../../../images/innovaLogo.png') no-repeat center;
	background-size: contain;
}

