.titleEditAlly {
    font-weight: bold;    
}

.contentDataEditAlly {
    margin-top: 130px;
}

.labelInputEditAlly {
    text-align: end;
}

.textStyle {
    font-size: 1.4rem !important;
    color: #7b7b7b !important;
}

.hoursEditAlly {
    width: 40% !important;    
}

@media only screen and (max-width: 768px){
    .inputReadOnlyEditAlly {
        text-align: center;
    }
    .labelInputEditAlly {
        text-align: center;
    }
    .hoursEditAlly {
        margin: auto;
    }
}