.allyProfileTextStyle {
    font-size: 1.4rem !important;
    color: #7b7b7b !important;
}

.allyProfileTitle {
    font-weight: bold;    
}

.allyProfileContentData {
    margin-top: 130px;
}

.allyProfileFormButton {
    width: 160px;
}

.allyProfileHeaderColor{
    color: #7b7b7b;
    font-size: x-large;
 }

 .allyProfileLoadingChart{
     margin-top: 30vh;
 }

