.sideBarAllyLateralBar {
   max-width: 20%;
   background-color: #313333;
   min-height: 100vh;
}

.sideBarAllyBox {
   height: 200px;
   width: 100%;
   padding: 10px 0;
}

.sideBarAllyLogo {
   height: 80%;
   width: auto;
   border: 1px white solid;
   background-color: azure;
}

.sideBarAllyText {
   height: 60px;
   margin-bottom: 20px;
}

.sideBarAllyText h3 {
   color: white;
   font-weight: bold;
}

.sideBarAllyLinkBox {
   height: 80px;
}

.sideBarAllyLinkBox:hover {
   background-color: #333333;
}

a .sideBarAllyLinkBox p {
   color: white;
   margin: 0;
}

a .sideBarAllyLinkBox:hover {
   background-color: #272626 !important;
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 1050px) {
   .sideBarAllyLateralBar {
      max-width: 200px !important;
      visibility: collapse;
   }
}

@media only screen and (max-width: 1200px) {
   .sideBarAllyText h3 {
      font-size: 25px !important;
   }
}