.lateralBar {
   max-width: 20%;
   background-color: #313333;
   min-height: 100vh;
}

.logoAdminBox {
   height: 200px;
   width: 100%;
   padding: 10px 0;
}

.logoAlly {
   height: 80%;
   width: auto;
   border: 1px white solid;
   background-color: azure;
}

.adminText {
   height: 60px;
   margin-bottom: 20px;
}

.adminText h3 {
   color: white;
   font-weight: bold;
}

.sideLinkBox {
   height: 80px;
}

.sideLinkBox:hover {
   background-color: #333333;
}

a .sideLinkBox p {
   color: white;
   margin: 0;
}

a .sideLinkBox:hover {
   background-color: #272626 !important;
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 1050px) {
   .lateralBar {
      max-width: 200px !important;
      visibility: collapse;
   }
}

@media only screen and (max-width: 1200px) {
   .adminText h3 {
      font-size: 25px !important;
   }
}