#sideNav.container {
   height: 100vh;
   width: 25rem;
   background-color: #313333;
   overflow-x: hidden;
   transition: 0.3s;
}

.sideBarAllyLogo {
   border: 0.1rem white solid;
   background-color: azure;
}

.sideBarAllyText {
   height: 6rem;
   margin-bottom: 2rem;
}

.sideBarAllyText ~ a:hover {
   text-decoration: none;
}

.sideBarAllyText h3 {
   color: white;
   font-weight: bold;
}

.sideBarAllyLinkBox {
   height: 8rem;
}

.row.sideBarAllyLinkBox p {
   color: white;
   margin: 0;
}

.row.sideBarAllyLinkBox:hover {
   background-color: #272626 ;
}


@media screen and (max-width: 768px) {
   #sideNav.container {
      width: 0;
      padding: 0;
   }
}

@media screen and (min-width: 768px) {
   #closeBtn {
      visibility: hidden;
   }
   #sideNav {
      width: 25rem;
   }
}