.backButton {
    color: #B4B4B4 !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

.backButtonImg {
    max-height: 40px;
    width: auto;
}

.logo {
    height: 38px;
    width: auto;
}

.black {
    background-color: #343434;
    color: white !important;
}